<article class="preview {{ bemMix }}">
	<div class="preview__content">
		<h2 class="preview__heading">{{ heading }}</h2>

		{% include 'options-list.twig' with {
			bemMix: 'preview__datetime',
			options: [
				{
					additions: datetime.month ~ '<br>' ~ datetime.year,
					key: 'Дата',
					value: datetime.day
				},
				{
					key: 'Время',
					value: '<time datetime="' ~ datetime.date ~ ' ' ~ datetime.time ~ '">' ~ datetime.time ~ '</time>'
				}
			]
		} %}

		<div class="preview__description">{{ description }}</div>

		<a class="preview__btn btn" href="{{ link.url }}">{{ link.title }}</a>
	</div>

	<span class="preview__picture">
		{% include 'picture.twig' with image %}
	</span>
</article>
